CUSTOM_IMAGE=frappe-demo
CUSTOM_TAG=16
PULL_POLICY=never

DB_PASSWORD=123
DB_HOST=db
DB_PORT=3306
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379

HTTP_PUBLISH_PORT=8080
SITE_NAME=demo.localhost
ADMIN_PASSWORD=admin
